@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
    --cl-yellow: rgb(200, 169, 126);
    --cl-yellow2: rgb(214, 179, 130);
    --cl-red: rgb(219 39 39);
    --cl-border-bottom-gray: #c5d0da;
    --cl-text-gray: #73879c;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title_admin h1 {
    font-weight: bold;
    color: var(--cl-text-gray);
    border-bottom: 2px solid var(--cl-border-bottom-gray);
    text-transform: capitalize;
    font-size: 29px;
    margin-bottom: 10px;
}

.title-page {
    font-size: 22px;
    font-weight: 700;
    color: rgb(58, 39, 39);
    text-align: center;
    line-height: 3.1;
    text-transform: capitalize;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--cl-yellow) !important;
    width: 20px !important;
    font-weight: 800;
    height: 20px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 26px !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--cl-yellow) !important;
}

#app {
    margin: 0 auto;
}

.titleCate {
    font-family: 'Agbalumo', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    line-height: 2;
    font-weight: 700;
    font-size: 28px;
    color: var(--cl-yellow);
}

.titleCate::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background: var(--cl-yellow);
    transition: width 0.5s;
}

.titleCate:hover::after {
    width: 100%;
}
